@tailwind base;
@tailwind components;
@tailwind utilities;


.icon-button {
  transition: transform 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
}

.icon-button:active {
  transform: scale(0.9);
  color: #8898aa; /* Example color change on click, adjust as needed */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}